*.iml
*.pem
*.apk
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/app/release
/app/build
/app/src/main/res/raw
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
